@model Corbet.Ui.Models.SupplierUpdateAdminDto

@{
    ViewData["Title"] = "UpdateSupplierForAdmin";
}

@Html.Raw(ViewBag.supplierUpdateAlert)

<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Home" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <!-- End Dashboard Nav -->


        <li class="nav-item">
            <a class="nav-link collapsed"
               asp-controller="Role"
               asp-action="GetAllRoles">
                <i class="bi bi-menu-button-wide"></i><span>Roles</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed"
               asp-controller="UserRegister"
               asp-action="GetAllUsers">
                <i class="bi bi-menu-button-wide"></i><span>All Users</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link"
               asp-controller="Supplier"
               asp-action="GetAllSuppliersForAdmin">
                <i class="bi bi-menu-button-wide"></i><span>All Suppliers</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed"
            asp-controller="Product"
               asp-action="GetAllProducts">
                <i class="bi bi-menu-button-wide"></i><span>Products</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed"
               data-bs-target="#generics-nav"
               data-bs-toggle="collapse"
               href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Generics</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="generics-nav"
                class="nav-content collapse"
                data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-controller="UnitMeasurement" asp-action="GetAllUnitMeasurements">
                        <i class="bi bi-circle"></i><span>Unit Data</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed"
                       data-bs-target="#tax-nav"
                       data-bs-toggle="collapse"
                       href="#">
                        <i class="bi bi-layout-text-window-reverse"></i><span>Tax Management</span>
                    </a>
                    <ul id="tax-nav"
                        class="nav-content collapse"
                        data-bs-parent="#generics-nav">
                        <li>
                            <a asp-controller="Tax" asp-action="GetAllTaxes">
                                <i class="bi bi-circle"></i><span>Tax Types</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Tax" asp-action="GetAllTaxDetails">
                                <i class="bi bi-circle"></i><span>Tax Details</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed"
                       data-bs-target="#tax-nav"
                       data-bs-toggle="collapse"
                       href="#">
                        <i class="bi bi-layout-text-window-reverse"></i><span>Product Category Management</span>
                    </a>
                    <ul id="tax-nav"
                        class="nav-content collapse"
                        data-bs-parent="#generics-nav">
                        <li>
                            <a asp-controller="ProductCategory" asp-action="GetAllCategories">
                                <i class="bi bi-circle"></i><span>Product Category</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="CategoryDetails" asp-action="GetAllCategoryDetails">
                                <i class="bi bi-circle"></i><span>Product Category Details</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" asp-controller="SubCategory" asp-action="GetAllSubCategory">
                        <i class="bi bi-circle"></i><span>Product Sub-Categories</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed"
                       data-bs-target="#stock-nav"
                       data-bs-toggle="collapse"
                       href="#">
                        <i class="bi bi-layout-text-window-reverse"></i><span>Stock Management</span>
                    </a>
                    <ul id="stock-nav"
                        class="nav-content collapse"
                        data-bs-parent="#generics-nav">
                        <li>
                            <a asp-controller="StockType" asp-action="GetAllStockTypes">
                                <i class="bi bi-circle"></i><span>Stock Types</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</aside>
<!-- End Sidebar-->
<div class="pagetitle">
    <h1>Update Supplier</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Supplier" asp-action="GetAllSuppliers">Suppliers</a></li>
            <li class="breadcrumb-item active">Update Supplier</li>
        </ol>
    </nav>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateSupplierForAdmin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label>
                <input asp-for="SupplierId" class="form-control" />
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="SupplierName" class="control-label"></label>
                <span class="text-danger">*</span>
                <input asp-for="SupplierName" class="form-control" />
                <span asp-validation-for="SupplierName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditLimit" class="control-label"></label>
                <span class="text-danger">*</span>
                <input asp-for="CreditLimit" class="form-control" />
                <span asp-validation-for="CreditLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Payment Status</label>
                <select class="form-control form-select" asp-for="IsPaymentDone">
                    <option value="false">Unpaid</option>
                    <option value="true">Paid</option>
                    <span asp-validation-for="IsPaymentDone" class="text-danger"></span>
                </select>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-warning" asp-action="GetAllSuppliersForAdmin">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
